name: Wheelie Scheduler

on:
  schedule:
    - cron:  '00 * * * *'
  workflow_dispatch:

jobs:
  wheelie-scheduler:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2.3.3

      - name: Check for updates and trigger
        run: |
          ALLPACKAGES="cryptography lxml numpy"
          cd docs
          for PACKAGE in ${ALLPACKAGES}; do
            for DISTRO in $(ls -d */); do
              IMAGE=$(echo ${DISTRO} | awk -F'-' '{print $1}')
              echo "**** IMAGE is ${IMAGE} ****"
              TAG=$(echo ${DISTRO} | awk -F'-' '{print $2}')
              echo "**** TAG is ${TAG} ****"
              docker run -d --rm --name test ghcr.io/linuxserver/baseimage-${IMAGE}:${TAG}
              docker exec test bash -c "\
                if [ -f /usr/bin/apt ]; then \
                  apt-get update && apt-get install -y python3-pip; \
                else \
                  apk add --no-cache py3-pip; \
                fi && \
                pip3 install -U pip"
              VERSION=$(docker exec test bash -c "pip install ${PACKAGE}== 2>&1 | sed -rn 's|^.*versions:(.*)\).*$|\1|p' | awk -F',' '{print \$(NF)}' | sed 's|^ ||'")
              docker stop test
              if ! grep -q "${PACKAGE}-${VERSION}" "${DISTRO}index.html"; then
                echo "**** Adding ${PACKAGE}-${VERSION} to build list ****"
                PACKAGES="${PACKAGE}==${VERSION} ${PACKAGES}"
                break
              else
                echo "**** ${PACKAGE}-${VERSION} is already in ${DISTRO}, skipping ****"
              fi
            done
          done
          if [ -n "$PACKAGES" ]; then
            echo "**** Triggering wheelie for packages: ${PACKAGES}****"
            curl -iX POST \
              -H "Authorization: token ${{ secrets.CR_PAT }}" \
              -H "Accept: application/vnd.github.v3+json" \
              -d "{\"ref\":\"refs/heads/main\",\"inputs\":{\"PACKAGES\":\"${PACKAGES}\"}}" \
              https://api.github.com/repos/aptalca/wheels/actions/workflows/wheelie.yml/dispatches
          else
            echo "**** No new updates to any of the packages, skipping trigger ****"
          fi
