name: Wheelie_HA

on:
  workflow_dispatch:

jobs:

  grab_requirements:
    name: Grab requirements
    runs-on: ubuntu-latest

    steps:
      - name: Curl in requirements
        run: |
          export HASS_RELEASE=$(curl -sfX GET https://api.github.com/repos/home-assistant/core/releases/latest \
            | jq -r .tag_name)
          echo "HASS_RELEASE is ${HASS_RELEASE}"
          export HASS_BASE=$(curl -sfL https://raw.githubusercontent.com/home-assistant/core/${HASS_RELEASE}/build.yaml \
            | grep 'amd64: ' \
            | cut -d: -f3)
          echo "HASS_BASE is ${HASS_BASE}"
          echo "Downloading upstream requirements files. . ."
          mkdir -p upstream
          curl -sfL https://raw.githubusercontent.com/home-assistant/core/${HASS_RELEASE}/requirements.txt -o upstream/requirements.txt
          curl -sfL https://raw.githubusercontent.com/home-assistant/core/${HASS_RELEASE}/requirements_all.txt -o upstream/requirements_all.txt
          curl -sfL https://raw.githubusercontent.com/home-assistant/docker/${HASS_BASE}/requirements.txt -o upstream/requirements_base.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: upstream/*

  build_wheels:
    name: ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm32v7, arm64v8]

    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      # https://github.com/crazy-max/ghaction-docker-buildx/issues/172
      - name: Hack Docker FS to Build cryptography on armv6/armv7
        run: |
          df -h
          sudo swapon --show
          sudo dd if=/dev/zero of=/swapfile1 bs=1M count=6K 
          sudo chmod 600 /swapfile1
          sudo mkswap /swapfile1
          sudo swapon /swapfile1
          sudo swapon --show
          sudo free -h
          sudo systemctl stop docker
          sudo mount -t tmpfs -o size=9G tmpfs /var/lib/docker
          df -h
          sudo systemctl start docker

      - name: Set up qemu
        run: |
          case ${{ matrix.arch }} in
            amd64)
              QEMU_ARCH=
              ;;
            arm32v7)
              QEMU_ARCH=arm
              ;;
            arm64v8)
              QEMU_ARCH=aarch64
              ;;
          esac
          if [ -n "${QEMU_ARCH}" ]; then
            docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
            #docker rm $(docker create --volume qemu-user-static:/usr/bin multiarch/qemu-user-static:${QEMU_ARCH} dummy)
            #docker run --rm --privileged --volume qemu-user-static:/usr/bin:ro multiarch/qemu-user-static:register --persistent yes
          fi

      - name: Build wheels in image
        run: |
          docker build -t ${{ matrix.arch }} --build-arg ARCH=${{ matrix.arch }} -f Dockerfile.homeassistant .
          docker create --name ${{ matrix.arch }} ${{ matrix.arch }}
          mkdir -p build
          docker cp ${{ matrix.arch }}:/build build

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: build/*

  upload_wheels:
    name: Upload wheels
    needs: build_wheels
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v2

      - name: Upload artifacts
        run: |
          mkdir -p homeassistant
          mv -f artifacts/build/* homeassistant/
          mv -f artifacts/requirement*.txt HA-reqs/
          os="homeassistant"
          for wheel in $(ls ${os}/); do
            if ! grep -q "${wheel}" "docs/${os}/index.html"; then
              echo "**** ${wheel} for ${os} is being uploaded to aws ****"
              aws s3 cp ${os}/${wheel} s3://wheels.linuxserver.io/${os}/${wheel} --acl public-read
              sed -i "s|</body>|    <a href='https://wheels.linuxserver.io/${os}/${wheel}'>${wheel}</a>\n    <br />\n\n</body>|" "docs/${os}/index.html"
            else
              echo "**** ${wheel} for ${os} already processed, skipping ****"
            fi
          done
          rm -rf artifacts homeassistant
          git config --local user.email "ci@linuxserver.io"
          git config --local user.name "LinuxServer-CI"
          git add . || :
          git commit -m '[bot] Updating HA indices and requirements files' || :
          git push || :

      - name: Trigger HomeAssistant scheduler
        run: |
          echo "**** Triggering HA trigger ****"
          curl -iX POST \
            -H "Authorization: token ${{ secrets.CR_PAT }}" \
            -H "Accept: application/vnd.github.v3+json" \
            -d "{\"ref\":\"refs/heads/main\"}" \
            https://api.github.com/repos/linuxserver/docker-homeassistant/actions/workflows/external_trigger.yml/dispatches
          echo "**** Notifying Discord ****"
          TRIGGER_REASON="A new set of wheels built for HomeAssistant. Triggering HA trigger."
          curl -X POST -H "Content-Type: application/json" --data '{"avatar_url": "https://cdn.discordapp.com/avatars/354986384542662657/df91181b3f1cf0ef1592fbe18e0962d7.png","embeds": [{"color": 9802903,
            "description": "**Build Triggered** \n**Reason:** '"${TRIGGER_REASON}"' \n**Build URL:** '"https://github.com/linuxserver/docker-homeassistant/actions/workflows/external_trigger.yml"' \n"}],
            "username": "Github Actions"}' ${{ secrets.DISCORD_WEBHOOK }}
