name: Wheelie

on:
  workflow_dispatch:
    inputs:
      PACKAGES:

jobs:
  build_wheels:
    name: ${{ matrix.os }}-${{ matrix.distrover }}-${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
            distrover: bionic
            arch: amd64
          - os: ubuntu
            distrover: bionic
            arch: arm32v7
          - os: ubuntu
            distrover: bionic
            arch: arm64v8
          - os: ubuntu
            distrover: focal
            arch: amd64
          - os: ubuntu
            distrover: focal
            arch: arm32v7
          - os: ubuntu
            distrover: focal
            arch: arm64v8
          - os: alpine
            distrover: "3.13"
            arch: amd64
          - os: alpine
            distrover: "3.13"
            arch: arm32v7
          - os: alpine
            distrover: "3.13"
            arch: arm64v8

    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      # https://github.com/crazy-max/ghaction-docker-buildx/issues/172
      - name: Hack Docker FS to Build cryptography on armv6/armv7
        run: |
          df -h
          sudo swapon --show
          sudo dd if=/dev/zero of=/swapfile1 bs=1M count=6K 
          sudo chmod 600 /swapfile1
          sudo mkswap /swapfile1
          sudo swapon /swapfile1
          sudo swapon --show
          sudo free -h
          sudo systemctl stop docker
          sudo mount -t tmpfs -o size=9G tmpfs /var/lib/docker
          df -h
          sudo systemctl start docker

      - name: Set up qemu
        run: |
          case ${{ matrix.arch }} in
            amd64)
              QEMU_ARCH=
              ;;
            arm32v7)
              QEMU_ARCH=arm
              ;;
            arm64v8)
              QEMU_ARCH=aarch64
              ;;
          esac
          if [ -n "${QEMU_ARCH}" ]; then
            docker rm $(docker create --volume qemu-user-static:/usr/bin multiarch/qemu-user-static:${QEMU_ARCH} dummy)
            docker run --rm --privileged --volume qemu-user-static:/usr/bin:ro multiarch/qemu-user-static:register --persistent yes
          fi

      - name: Build wheels in image
        run: |
          docker build -t ${{ matrix.os }}-${{ matrix.distrover }}-${{ matrix.arch }} --build-arg DISTRO=${{ matrix.os }} --build-arg DISTROVER=${{ matrix.distrover }} --build-arg ARCH=${{ matrix.arch }} --build-arg PACKAGES=${{ github.event.inputs.PACKAGES }} .
          docker create --name ${{ matrix.os }}-${{ matrix.distrover }}-${{ matrix.arch }} ${{ matrix.os }}-${{ matrix.distrover }}-${{ matrix.arch }}
          mkdir -p build
          docker cp ${{ matrix.os }}-${{ matrix.distrover }}-${{ matrix.arch }}:/build build

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.distrover }}-artifacts
          path: build/*

  upload_wheels:
    name: Upload wheels
    needs: build_wheels
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v2

      - name: Upload artifacts
        run: |
          for artifactfolder in $(ls -d *-artifacts); do
            distro=$(echo ${artifactfolder} | sed 's|-artifacts||')
            for wheel in $(ls ${artifactfolder}/build/); do
              if ! grep "${wheel}" "docs/${distro}/index.html"; then
                echo "**** ${wheel} for ${distro} is being uploaded to aws ****"
                aws s3 cp ${artifactfolder}/build/${wheel} s3://wheels.linuxserver.io/${distro}/${wheel} --acl public-read
                sed -i "s|</body>|    <a href='https://wheels.linuxserver.io/${distro}/${wheel}'>${wheel}</a>\n    <br />\n\n</body>|" "docs/${distro}/index.html"
              else
                echo "**** ${wheel} for ${distro} already processed, skipping ****"
              fi
            done
          done
          rm -rf *-artifacts
          git config --local user.email "ci@linuxserver.io"
          git config --local user.name "LinuxServer-CI"
          git add . || :
          git commit -m '[bot] Updating indices' || :
          git push || :
